* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{
    background-color: rgb(134, 33, 155);
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    margin-top: 60px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 50px;
}
nav ul li{
    margin: 0 5px;
    display: inline-block;
    line-height: 80px;
    font-size: 25px;
}
nav ul li a{
    color: aliceblue;
    display: flex;
    text-transform: uppercase;
    padding: 5px 5px;
}
a.active,a:hover{
    transform: .5s;
    background: rgb(95, 34, 110)
}
.icon {
    color: antiquewhite;
    /* display: none; */
    float: right;
    line-height: 90px;
    margin: 0px 6px;
    cursor: pointer;
    font-size: 30px
}
@media (max-width: 1024px){
    
}


