@media screen and (max-width:780px) {



    .ul-list {
        display: flex;
        flex-direction: column;
        width: 80%;
        text-align: center;
        background-color: rgba(0, 0, 0, .7);
        height: auto;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 999;
        padding-top: 50px;
        transition: .5s all;
        margin-top: -20px;
        gap: 15px;
        padding-bottom: 20px;

    }

    



    label i {
        margin-top: 20px;
        font-size: 5rem;

    }

    .uil-list-ul {
        display: flex;


    }

    #check-id:checked~.ul-list {
        left: 0;
    }


}
