* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Capriola', sans-serif;
}

.haeder-head-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    background-color: rgb(134, 33, 155);
}
label i{
    position: absolute;
    top: 60px;
    right: 0;
    color: black;
    display: block !important;
}

.ul-list {
    display: flex;
    margin-top: 39px;
    gap: 25px;
}

.uil-multiply {
    color: white;
    display: none;
}

.uil-list-ul {
    color: white;
    display: none;
}

#check-id {
    display: none;
}

.ul-list a {
    font-family: Capriola;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin-right: 20px;

}

.user-icon .fa-user {
    color: white;
    font-size: 40px;
    opacity: 0.8;

}

.user-icon {
    margin-right: 50px;
    margin-top: 25px;
}

.logo-h2 {
    margin-top: 25px;
    margin-left: 50px;
}

.logo-h2 h2 {
    color: white;
    font-size: 160%;
}